@model EngimaSimulator.Models.EnigmaConfiguration.ReflectorViewModel

@{
    ViewData["Title"] = "Reflector";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="EnigmaConfiguration" asp-action="Reflector" method="post">
    <div class="col-md-12">
        <!--If there is no reflectors configured-->        
        @if (Model._physicalConfiguration.reflectors?.Count == 0)
        {
            <p>No Reflectors Configured</p>
        }        
        else
        {
            <!--If ther eis relfectors configured-->
            <!--Display all reflector attributes-->
            <table class="table table-striped table-bordered table-sm small runDataTable">
                <thead>
                    <!--Reflector attributes-->
                    <tr>
                        <th>Name</th>
                        <th>Order</th>
                        <th>Selected</th>
                    </tr>
                </thead>
                <tbody>
                    <!--For each configured relfector-->
                    @foreach (var r in Model._physicalConfiguration.reflectors)
                    {
                        <!--Display attributes-->
                        <tr>
                            <td>@r.name</td>
                            <td>@r.order</td>
                            <!--Get a radio button-->
                            @if (Model.liveReflectorName == r.name)
                            {
                                <!--Set the radio button to be checked-->
                                <td><input type="radio" name="liveReflectorName" value="@r.name" checked></td>
                            }
                            else
                            {
                                <!--Set the radio button to not selected-->
                                <td><input type="radio" name="liveReflectorName" value="@r.name"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }        
        <br />
    </div>
    <div class="form-group col-md-12 row">
        <div class="col-sm-8"></div>
        <!--Go back to main simulator button-->
        <div class="col-sm-4">
            <button type="submit" name="Command" value="Enigma" class="btn btn-primary">Go to Simulator</button>
        </div>
    </div>
</form>
