@model EngimaSimulator.Models.Enigma.MainViewModel
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Home Page";
}
<!--If the enigma model is null-->
@if (Model.enigmaModel == null)
{
    <!--Tell the user to configure the enigma-->
    <div class="text-center">
        <p>Please go to the Configuration tab to configure your enigma</p>
    </div>
}
<!--If the rotors are null-->
else if (Model.enigmaModel.rotors?.Count == 0)
{
    <!--Tell the users to configure the rotors-->
    <div class="text-center">
        <p>Please go to the Configuration tab to configure your rotors</p>
    </div>
}
<!--If reflector is null-->
else if (Model.enigmaModel.reflector == null)
{
    <!--Tell the user to configure a reflector-->
    <div class="text-center">
        <p>Please go to the Configuration tab to configure your reflector</p>
    </div>
}
<!--No plugboard requirement as it is possible to not have a plugboard-->
else
{
    <table class="table table-striped table-bordered table-sm small">
        <!--Table for info on each rotor-->
        <thead>
            <tr>
                <th>Part</th>
                <th>Name</th>
                <th>Order</th>
                <th>Rotation</th>
                <th>Ring Offset</th>
            </tr>
        </thead>
        <!--For loop all hte rotors and extract the information-->
        <tbody>
            @for (int i = 0; i < Model.enigmaModel.rotors.Count; i++)
            {
                <tr>
                    <td>Rotor @(i + 1)</td>
                    <td>@Model.enigmaModel.rotors[i].rotor.name</td>
                    <td>@Model.enigmaModel.rotors[i].rotor.order</td>
                    <td>@Model.enigmaModel.rotors[i].rotation</td>
                    <td>@Model.enigmaModel.rotors[i].ringOffset</td>
                </tr>

            }
            <!--The reflector is essentially a rotor but with no rotation or offser so can be displayed in the same table-->
            <tr>
                <td>Reflector</td>
                <td>@Model.enigmaModel.reflector.rotor.name</td>
                <td>@Model.enigmaModel.reflector.rotor.order</td>
                <td>NA</td>
                <td>NA</td>
            </tr>
            <!--Display the plugboard pairs across all the columns at the bottom of the table-->
            <tr>
                <td colspan="5">
                    Plugboard Pairs: @Model.plugboardPairs
                </td>
            </tr>
        </tbody>
    </table>
}
<form asp-controller="Enigma" asp-action="Index" method="post">
    <!--Text boxes-->
    <div class="col-md-12">
        <input type="text" name="inputTextBox" value="@Model.inputTextBox" rows="8" cols="50" />
        <textarea name="outputTextBox" rows="8" cols="50">@Model.outputTextBox</textarea>
        <br><br>
    </div>
    <!--Randomize button-->
    <div class="col-sm-4">
        <button type="submit" name="Command" value="Randomize" class="btn btn-primary">Randomize</button>
    </div>
    <!--Convert button-->
    <div class="col-sm-4">
        <button type="submit" name="Command" value="Convert" class="btn btn-primary">Convert</button>
    </div>
</form>