@model EngimaSimulator.Models.Enigma.MainViewModel
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.enigmaModel == null)
{
    <div class="text-center">
        <p>Please go to the Configuration tab to configure your enigma</p>
    </div>
}
else if (Model.enigmaModel.rotors.Count == 0)
{
    <div class="text-center">
        <p>Please go to the Configuration tab to configure your rotors</p>
    </div>
}
else if (Model.enigmaModel.reflector == null)
{
    <div class="text-center">
        <p>Please go to the Configuration tab to configure your reflector</p>
    </div>
}
else
{
    <table class="table table-striped table-bordered table-sm small">
        <thead>
            <tr>
                <th>Part</th>
                <th>Name</th>
                <th>Order</th>
                <th>Rotation</th>
                <th>Ring Offset</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.enigmaModel.rotors.Count; i++)
            {
                <tr>
                    <td>Rotor @(i + 1)</td>
                    <td>@Model.enigmaModel.rotors[i].rotor.name</td>
                    <td>@Model.enigmaModel.rotors[i].rotor.order</td>
                    <td>@Model.enigmaModel.rotors[i].rotation</td>
                    <td>@Model.enigmaModel.rotors[i].ringOffset</td>
                </tr>

            }
            <tr>
                <td>Reflector</td>
                <td>@Model.enigmaModel.reflector.rotor.name</td>
                <td>@Model.enigmaModel.reflector.rotor.order</td>
                <td>NA</td>
                <td>NA</td>
            </tr>
            <tr>
                <td colspan="5">
                    Plugboard Pairs: @Model.plugboardPairs
                </td>
            </tr>
        </tbody>
    </table>
}
<form asp-controller="Enigma" asp-action="Index" method="post">
    <div class="col-md-12">
        <input type="text" name="inputTextBox" value="@Model.inputTextBox" rows="8" cols="50" />
        <textarea name="outputTextBox" rows="8" cols="50">@Model.outputTextBox</textarea>
        <br><br>
    </div>
    <div class="col-sm-4">
        <button type="submit" name="Command" value="Randomize" class="btn btn-primary">Randomize</button>
    </div>
    <div class="col-sm-4">
        <button type="submit" name="Command" value="Convert" class="btn btn-primary">Convert</button>
    </div>
</form>