<div class="modal fade" id="editRotorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="rotorEdit">Rotor Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>      
            <style>
                th, td {
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-bottom: 5px;
                    padding-top: 5px;
                }
            </style>
            <form id="EditRotor" asp-controller="EnigmaConfiguration" asp-action="Rotors" data-ajax="true" data-ajax-method="post" data-ajax-complete="completedEdit" method="post">
                <div class="modal-body">
                    @if (Model.liveRotorsNames != null)
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th>Rotor name</th>
                                    <th>Step selection</th>
                                    <th>Offset selection</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 1; i <= Model.liveRotorsNames.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.liveRotorsNames[i - 1] STEP:</td>
                                        <td>
                                            <select name="@Model.liveRotorsNames[i - 1] step" id="@Model.liveRotorsNames[i - 1] step">
                                                @if (Model.rotorStepOffset[2 * (i-1)] == "")
                                                {
                                                    <!--Set the placeholder-->
                                                    <option value="" disabled selected hidden>Choose here</option>
                                                }
                                                @for (int a = 0; a <= 25; a++)
                                                {
                                                    string current = Convert.ToString(Convert.ToChar(a + 65));
                                                    @if (Model.rotorStepOffset[2 * (i-1)] == current)
                                                    {
                                                        <!--Set the placeholder-->
                                                        <option value="@current" selected>@current</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@current">@current</option>
                                                    }                                                    
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <select name="@Model.liveRotorsNames[i - 1] offset" id="@Model.liveRotorsNames[i - 1] offset">
                                                @if (Model.rotorStepOffset[2 * (i-1) + 1] == "")
                                                {
                                                    <!--Set the placeholder-->
                                                    <option value="" disabled selected hidden>Choose here</option>
                                                }
                                                @for (int b = 0; b <= 25; b++)
                                                {
                                                    string current = Convert.ToString(b);
                                                    @if (Model.rotorStepOffset[2 * (i-1) + 1] == current)
                                                    {
                                                        <!--Set the placeholder-->
                                                        <option value="@current" selected>@current</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@current">@current</option>
                                                    }                                                    
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Please try pressing the save button before editing</p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="submit" name="Command" value="rotorSaveEdit" class="btn btn-success btn-sm">Save</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

