<div class="modal fade" id="editRotorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="rotorEdit">Rotor Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="EditRotor" asp-controller="EnigmaConfiguration" asp-action="Rotors" data-ajax="true" data-ajax-method="post" data-ajax-complete="completedEdit" method="post">
                <div class="modal-body">
                    @if (Model.liveRotorsNames != null)
                    {
                        @for (int i = 1; i <= Model.liveRotorsNames.Count; i++)
                        {
                            <label>@Model.liveRotorsNames[i - 1] STEP:</label>
                            <select name="@Model.liveRotorsNames[i - 1] step" id="@Model.liveRotorsNames[i - 1] step">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                                <option value="K">K</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="N">N</option>
                                <option value="O">O</option>
                                <option value="P">P</option>
                                <option value="Q">Q</option>
                                <option value="R">R</option>
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <option value="U">U</option>
                                <option value="V">V</option>
                                <option value="W">W</option>
                                <option value="X">X</option>
                                <option value="Y">Y</option>
                                <option value="Z">Z</option>
                            </select><br>

                            <label>@Model.liveRotorsNames[i - 1] OFFSET:</label>
                            <select name="@Model.liveRotorsNames[i - 1] offset" id="@Model.liveRotorsNames[i - 1] offset">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                            </select><br>
                        }

                    }
                    else
                    {
                        <p>Please try pressing the save button before editing</p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="submit" name="Command" value="rotorSaveEdit" class="btn btn-success btn-sm">Save</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

